{% extends 'blog/base_blog.html' %} {% block content %}
<h1>Index.html</h1>
<div class="content">
    <div class="container">
        <table class="content__table table">
            <tr>
                <th>header</th>
                <th>value</th>
            </tr>
            {% for key, value in request.items %}
            <tr class="content__items">
                <td class="content__key">{{ key }}</td>
                <td class="content__value">{{ value }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}